<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="searchName">
    <ul>
    <li v-for="(person, index) in filterPersons" :key="person.id">
      {{person.id}}--{{person.name}}--{{person.age}}
    </li>
    </ul>
    <button @click='sortType=2'>升序排序</button>
    <button @click='sortType=3'>降序排序</button>
    <button @click='sortType=1'>原来顺序</button>
  </div>
  <script type="text/javascript" src="../js/vue.js"></script>
  <script type="text/javascript">
  new Vue({
     el:'#app',
     data:{
       searchName:'',
       sortType:1,//1:不排序   2：升序   3：降序
        persons:
          [
            {id:1,name:'uiwhc',age:24},
            {id:2,name:'uycvuy',age:21},
            {id:3,name:'uiqwifb',age:12},
            {id:4,name:'iowhq',age:32},
            {id:5,name:'ouvvwhj',age:13}
          ]
     },
   computed: {
     filterPersons(){
       const {searchName, persons, sortType} = this 
       const arr = persons.filter(p => p.name.indexOf(searchName)!==-1)
      if (sortType !== 1) {
       if (sortType===2) {//升序
         arr.sort((p1,p2) => {
           return p1.age - p2.age
         })
       } else {//降序
         arr.sort((p1,p2) => {
            return p2.age - p1.age
         })
       }
      }
       
       return arr
     }
   },
  })
  </script>
</body>
</html>